<!DOCTYPE html>
<html lang="en" ng-app="fpl">
<head>
<title>FPL</title>
<link rel="stylesheet" href="../support/css/bootStrap/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../support/css/custom/style.css" type="text/css">
<link rel="stylesheet" href="../support/css/custom/notify.css" type="text/css">
<link rel="stylesheet" href="../support/css/custom/myProfile.css" type="text/css">
<script type="text/javascript" src="../support/script/jQuery/jquery.js"></script>
<script type="text/javascript" src="../support/script/bootStrapJS/bootstrap.min.js"></script>
<script type="text/javascript" src="../support/script/jQuery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../support/script/jQuery/jquery.cookie.js"></script>
<script type="text/javascript" src="../support/script/bootStrapJS/bootstrap.min.js"></script>
<script type="text/javascript" src="../support/script/angularJS/angular.min.js"></script>
<script type="text/javascript" src="../support/script/custom/captcha.js"></script>
<script type="text/javascript" src="../support/script/mespeak/mespeak.js"></script>
<script type="text/javascript" src="../support/script/mespeak/mespeak_init.js"></script>
<script type="text/javascript" src="../support/script/custom/app.js"></script>
<script type="text/javascript" src="../support/controller/UserLoginController.js"></script>
<script type="text/javascript" src="../support/controller/UserRegisterController.js"></script>
<script type="text/javascript" src="../support/controller/PasswordRecoveryController.js"></script>
<script type="text/javascript" src="../support/controller/UserNameRecoveryController.js"></script>
<script type="text/javascript" src="../support/script/custom/AesUtil.js"></script>
<script type="text/javascript" src="../support/script/custom/util.js"></script>
</head>
<body>
</body>
</html>
<!-- Main Wrapper Start -->
<div class="mainWrapper" ng-controller="UserLoginController as uLogin">
  <!-- Header bar Start -->
  <div class="navbar navbar-default" role="navigation">
    <div class="topBar"></div>
    <!-- Header start -->
    <div class="headerWrapper">
      <div class="logo"><a class="navbar-brand" href="index.html"></a></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span
						class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span></button>
      </div>
      <!-- Top menu bar start -->
      <div class="navbar-collapse collapse pull-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">How it works</a></li>
          <li><a href="#contact">Resource center</a></li>
          <li><a href="#contact">Help</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" id="dropdownMenu1" ng-click="uLogin.showCountryDomainDropdown()">FPL Online SG<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Option A</li>
              <li><a href="#">Option B</a></li>
              <li><a href="#">Option C</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Top menu bar end -->
      <!-- Tab Nav Start -->
      <div class="pull-left col-lg-9 col-md-8 col-sm-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab"
						data-toggle="tab">Customer</a></li>
          <li><a href="#profile" role="tab" data-toggle="tab">Corporates</a></li>
          <li><a href="#messages" role="tab" data-toggle="tab">Financial
            Planners</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home"><a class="active">Profile</a><a>Request</a><a>E Records</a><a>Communications</a></div>
          <div class="tab-pane" id="profile">...</div>
          <div class="tab-pane" id="messages">...</div>
          <div class="tab-pane" id="settings">...</div>
        </div>
        <div class="loginBtnWrapper" ng-hide="uLogin.isLogged()">
          <div class="register" ng-click="uLogin.register()">Register</div>
          <div class="login" ng-click="uLogin.loginModal()">Login</div>
        </div>
        <div ng-show="uLogin.isLogged()">
          <ul class="userDetails">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" id="dropdownMenu2" ng-click="uLogin.showLoginDropdown()"><span>Welcome</span><span
								class="marginLten">{{uLogin.username}}</span><span
								class="glyphicon glyphicon-chevron-down"></span></a>
              <ul aria-labelledby="dropdownMenu2" class="dropdown-menu" role="menu">
                <li><a href="#ProfileModal" ng-click="uLogin.profileModal()">My Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">My Notifications</a></li>
                <li><a href="#">My Reminders</a></li>
                <li class="divider"></li>
                <li><a ng-click="uLogin.logout()" class="logout">Log
                  out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab Nav End -->
    </div>
    <!-- Header End -->
  </div>
  <!-- Header Bar End -->
  
  <!-- MY PROFILE START -->
  <div class="innerWrapper">
    <div class="row innerContentWrapper myProfileWrapper">
      <div class="tabbable">
        <div class="titleHeaderBlue">FP Registration</div>
        <div class="tab-content clear paddingLnone">
          <div id="profile" class="tab-pane fade active in paddingLnone profileTabContent">
            <div class="col-lg-12 col-md-12 col-sm-12 paddingLnone">
              <div class="col-lg-12 col-md-12 col-sm-12 profileTabForm">
              <form action="#" role="form" id="form" class="col-sm-12">
                <div class="row">
                  <div class="col-md-12 paddingNone">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <h3>Ins Company ID</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <h3>Registratin Date</h3>
                    </div>
                  </div>
                  <hr class="clear">
                  <div class="col-md-6">
                    <!-- FIRST SECTION START -->
                    <div class="innerBorderDiv">                     
                       <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="email" class="form-control" id="dob" name="dob">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Registratin Number</label>
                        <input type="email" class="form-control" id="dob" name="dob">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Incorporation Location</label>
                        <input type="email"  class="form-control" id="idProof" name="idProof">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Website</label>
                        <input type="password"  class="form-control" name="ID" id="ID">
                      </div>
                       <div class="form-group">
                        <label class="control-label">Domains</label>
                        <select class="form-control">
                          <option>Select Domain</option>
                        </select>
                      </div>
                    </div>
                    <!-- FIRST SECTION END -->
                    <!-- SECOND SECTION START -->
                    
                    <div class="innerBorderDiv">
                      <div class="form-group">
                        <label class="control-label">Block / Unit Number</label>
                        <input type="text"  class="form-control" id="Block" name="Block">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Building Name</label>
                        <input type="text"  class="form-control" id="Building" name="Building">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Street</label>
                        <input type="email" class="form-control" id="Street" name="Street">
                      </div>
                      <div class="form-group">
                        <label class="control-label">City</label>
                        <input type="email"  class="form-control" id="City" name="City">
                      </div>
                      <div class="form-group">
                        <label class="control-label">State</label>
                        <input type="password"  class="form-control" name="State" id="State">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Country</label>
                        <input type="email"  class="form-control" id="Country" name="Country">
                      </div>
                    </div>
                    
                    <!-- SECOND SECTION END -->
                    
                    <!-- THIRD SECTION START -->
                    <div class="innerBorderDiv">
                      <div class="form-group">
                        <label class="control-label">Phone: Mobile</label>
                        <input type="text"  class="form-control" id="Mobile" name="Mobile">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Phone: Landline</label>
                        <input type="text"  class="form-control" id="Landline" name="Landline">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email">
                      </div>
                    </div>
                    <!-- THIRD SECTION END -->
                  </div>
                  <div class="col-md-6">
                    <!-- SECOND - FIRST SECTION START -->
                    <div class="innerBorderDiv">
                     <div class="form-group primaryName">
                        <label class="control-label">Contact Name</label>
                        <input type="text"  class="form-control" placeholder="Firstname" id="primaryFirstname" name="primaryFirstname">
                        <input type="text"  class="form-control" placeholder="Lastname" id="primaryLastname" name="primaryLastname">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Mobile Number</label>
                        <input type="email"  class="form-control" id="idProof" name="idProof">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Position</label>
                        <input type="email"  class="form-control" id="idProof" name="idProof">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Identity Proof</label>
                        <input type="password"  class="form-control" name="ID" id="ID">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Id #</label>
                        <input type="password"  class="form-control" name="ID" id="ID">
                      </div>
                    </div>
                    <!-- SECOND - FIRST SECTION END -->
                    <!-- SECOND - SECOND SECTION START -->
                    <div class="innerBorderDiv">
                    <div class="form-group">
                        <label>
                          Comments / Imp Notes</label>
                          <textarea class="col-lg-12 col-md-12 col-sm-12 clear form-control"></textarea>
                     </div>
                    </div>
                     <div class="form-group">
                        <button class="btn btn-primary col-lg-2 marginRfifteen">Save</button>
                        <button class="btn btn-danger col-lg-2 marginRfifteen">Cancel</button>
                        <button class="btn btn-Secondary col-lg-2 marginRfifteen">Reset</button>
                      </div>
                    <!-- SECOND - SECOND SECTION END -->
                    <!-- SECOND - THIRD SECTION START -->
                    <div class="innerBorderDiv">
                      <div class="form-group">
                        <label class="control-label">Validation Status</label>
                        <input type="email" class="form-control" id="dob" name="dob">
                      </div>
                       <div class="form-group">
                        <label class="control-label">Validation Date</label>
                        <input type="email" class="form-control" id="dob" name="dob">
                      </div>
                    </div>
                    <!-- SECOND - THIRD SECTION END -->
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MY PROFILE END -->

<!-- Footer Start -->
<div class="footer errorFooter">
  <ul class="pull-left">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">Copyright</a></li>
  </ul>
</div>
<!-- Footer End -->

<!--Notification Start-->
<div id="notify-success" class="success"></div>
<div id="notify-failure" class="error"></div>
<div id="notify-info" class="info"></div>
<!--<div class="warning"></div>
  <div class="print"></div>
  <div class="purchase"></div>
  <div class="secure"></div>
  <div class="message"></div>
  <div class="download"></div>
  <div class="tip"></div>-->
<!--Notification End-->
</div>
