<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>FPL</display-name>
	<description>Financial Planning</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/fpl-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>fpl</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.fpl.controller.request.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadProInvoiceServlet</servlet-name>
		<servlet-class>com.fpl.controller.request.ProInvoiceDownloadServlet</servlet-class>
	</servlet>

	
	 
   
	<servlet-mapping>
		<servlet-name>fpl</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadProInvoiceServlet</servlet-name>
		<url-pattern>/downloadProInvoice.html</url-pattern>
	</servlet-mapping>
	 
	<welcome-file-list>
		<welcome-file>index1.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
  		<session-timeout>-1</session-timeout> <!-- set in minutes -->
	</session-config>
	
	
	 <!-- Reads request input using UTF-8 encoding -->
   
   
	<filter>
        <filter-name>SessionManagementFilter</filter-name>
        <filter-class>com.fpl.aop.SessionManagementFilter</filter-class>
	</filter>
	<filter-mapping>
       <filter-name>SessionManagementFilter</filter-name>
       <url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	
	
	<listener>
    	<listener-class>com.fpl.aop.HttpSessionManager</listener-class>
	</listener>
</web-app>