.instand-cheq
{
background: #2C478C;
float: left;
width: 100%;
text-align: center;
padding:7px;}
.instand-chekdetail 
{
	list-style:none;
	float:left;
}
.fpl-pop
{
	font-family:open sans;
	font-size:15px;
	font-weight:bold;
}
.column-fok
{
	padding-top:15px;
}
.instand-chekdetail
{
list-style: outside none none;
width: 100%;
margin: 0px auto;
padding: 15px;
}
.title-instant
{
	margin-top:20px;
}
.instnd
{
color: white;
font-family: open sans;
font-size: 16px;
}
.cheque-text
{
padding: 10px;
font-family: open sans;
font-size: 15px;
}
.che-par
{
	padding:15px;
}
.instand-chekdetail li
{
	float:left;
	width:50%;
	text-align: center;
}
.heoo img
{
	width:110px;
	padding-left:10px;
}
/* pop start */
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index:999999;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.btn-file
{
	height:38px!important;
}
.popup .close {
  position: absolute;
  top: -10px;
  right: -12px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border-radius: 50%;
background: rgb(207, 201, 201) none repeat scroll 0% 0%;
width: 25px;
height: 25px;
font-size: 25px;
padding-left: 5px;
opacity:1;
}
.popup .close:hover {
  color: #594B50;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
/* pop up end */

ul.instand-chesk
{
	list-style:none;
	width:88%;
	margin:0 auto;
}
ul.instand-chesk>li img{width:100%;padding-left:25px;position: relative;top: 24px;}
ul.instand-chesk >li {float:left;width:100%;}
@media (min-width: 768px) {
ul.instand-chesk>li img{width:130px;padding-left:25px;position: relative;top: 24px;}
ul.instand-chesk >li {float:left;width:33%;}
}
.form-contes
{
	margin:0 auto;
	width:75%;
	margin-top:40px;
	/* padding-bottom:20px; */
}
.form-contess
{
	margin:0 auto;
	width:85%;
	margin-top:40px;
	padding-bottom:20px;
}
.overlap_label {
  /*   margin-left: 37px; */
    background: #FFF none repeat scroll 0% 0%;
    position: relative;
    top: 17px;
    color: #CCC;
    padding: 2px;
    z-index: 9999;
	margin-left:20px;
}	
.email.col-lg-6.col-md-6.col-sm-6.col-xs-12 {
    list-style: outside none none;
    float: left;
    margin-bottom: 10px;
    padding-left: 30px;
}
..email.col-lg-6.col-md-6.col-sm-6.col-xs-12 li {
    float: left;
    padding-left: 10px;
}
.form-cont
{
	width:86%;
	margin:0 auto;
}
.email.col-lg-6.col-md-6.col-sm-6.col-xs-12
{
	list-style:none;
	float:left;
	margin-bottom:10px;
	padding-left:30px;

}
.btn.btn-default.browse
{
	width:100px !important;
}
/* file input start */
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/* file input end */
.email.col-lg-6.col-md-6.col-sm-6.col-xs-12 li
{
	float:left;
	padding-left:10px;
}
.mail
{
	padding-left:8px;
	color:#70767B;
	font-size:15px;
	
}
.form-control.bye
{
	background:#6666FF;
}
.input-group.col-xs-12
{
	width:93% !important;
	height:40px !important;
}

.form-control.byee
{
	background:#B4B9F0;
}
.subscribes
{
	margin-top:20px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-12.suy
{
	margin-top:10px;
	text-align:center;
}
.suvb
{
	color:#70767B;
}
.chekdk
{

	width:131px;
	float:left;
	}
.genter.col-lg-6.col-md-6.col-sm-6.col-xs-12
{
	list-style:none;
	float:left;
	padding-top:30px;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-12.second
{
	/* margin-bottom:15px; */
}
.genter.col-lg-6.col-md-6.col-sm-6.col-xs-12 li
{
	float:left;
	padding-left:30px;
	color:#70767B;
}
.gen-male
{
	padding-left:10px;
}
.i-input.sec
{
	width:130px !important;
}
.nav.nav-pills
{
	width:100%;
	margin:0 auto;
}
.input-group.input-group-lg
{
	/* margin-left:25px!important; */
}
.advertise
{
	font-size:14pt;
	text-align:center;
	background:#CE2C2C;
	padding:10px;
	padding-bottom:10px;
	color:white;
	
	}
.subscr-status{font-size:16px;color:#70767B;padding:7px;}
.form-control.mail
{
	width:100%;
	
}
.substatus
{
	text-align:center;
}
.valid
{
	padding-top:24px;
}
.cmo{width:100%;padding-left:15px;
    height: 40px;border: 2px solid #E7E3E3;}
.form-first
{
	border:1px solid #ccc;
	/* background:#F3F3F3; */
	width:100%;
	float:left;
	padding:1px;
	padding-bottom:14px;
	margin-bottom: 40px;
}

.btn.btn-default.continue
{
	background:#E94646;

}
.btn.btn-default.continue:hover{background:#BE1C1D;}
.form-second
{
	border:1px solid #ccc;
	/* background:#F3F3F3; */
	width:100%;
	float:left;
	padding:10px;
	margin-bottom: 40px;
}
.tab-content.clearfix
{
	/* padding-bottom:30px; */
}
.instand-details
{
	margin:0 auto;
	width:100%;
	margin-top:20px;
	border: 1px solid #ccc;
    margin-bottom: 20px;
	
}
.reffer
{
	margin:0 auto;
	width:100%;
	/* background:#F3F3F3; */
	border:1px solid #ccc;
	margin-bottom:20px;
	padding:10px;
}
.area
{
	margin:0 auto;
		
}
.request-staus
{
	margin:0 auto;
	margin-top:20px;
	width:100%;
	/* background:#F3F3F3; */
	border:1px solid #ccc;
	padding:10px;
	padding-bottom:10px;
	/* text-align:right; */
}
.only-but {padding:30px;}
.subscription
{
	width:100%;
	margin:0 auto;
	/* background:#F3F3F3; */
	border:1px solid #ccc;
	margin-bottom:20px;
}
.media:first-child
{
	margin-top:10px;
}
.form-group.wel
{
	margin-bottom:0px !important;
}
.form-third
{
	margin-top: 20px;
	padding:20px;
}
.form-firsts
{
	border:1px solid #ccc;
	/* background:#F3F3F3; */
	width:100%;
	float:left;
	
	margin-bottom:20px;
	padding-bottom:15px;
}
.sec-cont
{
	margin-top:40px;
	width:100%;
}
.check-box
{
	margin-top:23px;
	font-size:12pt;
}
.nav.nav-pills.po{background:red;}
.checking{padding-left:10px;color:#70767B;}
.tab-content.clearfix.like{background:#E9EEF1;}
.second-content
{
	margin-top:30px;
	background:#F3F3F3;
	border:1px solid #E0E0E0;
	margin:0 auto;
	width:70%;
	
}
.valid
{
text-align:center;
color:#70767B;
}
.nav.nav-pills.cont
{
	background:#2C478C;
	padding:10px;
	padding-bottom:10px;
	text-align:center;
	
}
.end-step{margin-top:20px;padding-bottom:20px;}

.register{width:100%;background:white;padding-bottom:25px;}
.tab-cont{margin:0 auto;}
/* For Webkit based browsers Google Chrome, Apple Safari and latest Gecko browsers */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.i-input
{
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #70767B;
  background-color: #fff;
  background-image: none;
  border: 2px solid #E7E3E3;
  border-radius: px;
}
.hike{padding-left:20px;font-size: 20px;}
.radio-inline{color:#70767B;}
.bac-gally img{width:100%;}

.mes{color:white;font-size:12pt;}

.text-tab{font-size:14px;}
.image img{width:100px;padding-left:20px;}
.process{margin:30px;}
.fourth-content
{
	margin:20px auto;
	width:70%;
}
.divert
{
	padding-left:13px;
	color:#70767B;
}
.client
{
	text-align:center;
	color:#70767B;
}
.clients
{
	text-align:center;
	color:#70767B;
	margin-top:10px;
}
.area.jone
{
	margin-top:10px;
}
.comes
{
	color:#70767B;
	font-weight:bold;
	margin-top:10px;
}
.sub-req{font-size:16px;color:#70767B;}


.boxing{width:100%;height:200px;}
.boxinge{width:100%;height:130px;font-size:18px;}

.check{border:green;}
.btn.btn-default{font-size:16px;}
.radio-but{padding:10px;padding-bottom:10px;font-size:16px;color:#70767B;padding-left:30px;}

.third-content
{
	width:70%;
	margin:30px auto;

}
.first-step
{
width:70%;margin:20px auto;border:1px solid #ccc;padding-bottom:20px;	
}
.custom{width:70%;margin:20px auto;border:1px solid #ccc;padding-bottom:15px}
.customs{width:100%;margin:0px auto;border:1px solid #ccc;padding-bottom:15px;margin-bottom:20px;}
.first-content
{
	background:#F3F3F3;
	padding:10px;
	border:1px solid #E0E0E0;
	margin-top:20px;
	margin:50px auto;
	width:70%;
}
.renewal{text-align:center;padding:50px;font-size:16px;color:#70767B;}
.radio{padding-top:20px;}
.btn.btn-default{width:160px;height:40px;background:#2C478C;color:white;}
.col-lg-8.col-md-8.col-sm-12.col-xs-12.center{margin:20px;}
.btn.btn-default:hover{background:#006;}
.btn.first{width:160px;height:40px;background:#2C478C;color:white;}
.btn.first:hover{background:#006;}

